.dot-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    width: 8px;
    height: 8px;
    background: gray;
    &.current {
      background: red;
    }
  }
}
.swiper-container {
  width: 100%;
  height: 200px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  transition: 300ms;
  transform: scale(0.8);
}
.swiper-pagination {
  position: absolute;
  bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 2;
  span {
    display: block;
    width: 8px;
    height: 8px;
    background: gray;
    border-radius: 50%;
    margin: 0 6px;
    &.swiper-pagination-bullet-active {
      background: #e9203d;
    }
  }
}
.swiper-slide-active,.swiper-slide-duplicate-active{
  transform: scale(1);
}
#home-catrgory {
  .carousel-item {
    ul {
      width: 100%;
      height: auto;
    }
    li {
      display: block;
      list-style: none;
      width: 20%;
      background-repeat: no-repeat;
      background-size: 50px auto;
      background-position: top center;
      text-align: center;
      padding-top: 50px;
      color: #666;
      font-size: 14px;
    }
    li.jingdian {
      background-image: url("https://s1.ax1x.com/2020/06/03/ta79C8.png");
    }
    li.ktv {
      background-image: url("https://s1.ax1x.com/2020/06/03/ta7ivQ.png");
    }
    li.gouwu {
      background-image: url("https://s1.ax1x.com/2020/06/03/ta7S4f.png");
    }
    li.shenghuofuwu {
      background-image: url("https://s1.ax1x.com/2020/06/04/t09GXn.png");
    }
    li.jianshenyundong {
      background-image: url("https://s1.ax1x.com/2020/06/04/t091pQ.png");
    }
    li.meifa {
      background-image: url("https://s1.ax1x.com/2020/06/04/t0986s.png");
    }
    li.qinzi {
      background-image: url("https://s1.ax1x.com/2020/06/04/t09MtS.png");
    }
    li.xiaochikuaican {
      background-image: url("https://s1.ax1x.com/2020/06/04/t09Qfg.png");
    }
    li.zizhucan {
      background-image: url("https://s1.ax1x.com/2020/06/04/t093lj.png");
    }
    li.jiuba {
      background-image: url("https://s1.ax1x.com/2020/06/04/t09Kk8.png");
    }
    li.meishi {
      background-image: url("https://s1.ax1x.com/2020/06/04/t09emt.png");
    }
    li.dianying {
      background-image: url("https://s1.ax1x.com/2020/06/04/t09VOI.png");
    }
    li.jiudian {
      background-image: url("https://s1.ax1x.com/2020/06/04/t09E6A.png");
    }
    li.xuixianyule {
      background-image: url("https://s1.ax1x.com/2020/06/04/t09m0P.png");
    }
    li.waimai {
      background-image: url("https://s1.ax1x.com/2020/06/04/t09nTf.png");
    }
    li.huoguo {
      background-image: url("https://s1.ax1x.com/2020/06/04/t0pEZV.png");
    }
    li.liren {
      background-image: url("https://s1.ax1x.com/2020/06/04/t0pkq0.png");
    }
    li.dujiachuxing {
      background-image: url("https://s1.ax1x.com/2020/06/04/t0pFrq.png");
    }
    li.zuliaoanmo {
      background-image: url("https://s1.ax1x.com/2020/06/04/t0piMn.png");
    }
    li.zhoubianyou {
      background-image: url("https://s1.ax1x.com/2020/06/04/t0pCxs.png");
    }
    li.ribencai {
      background-image: url("https://s1.ax1x.com/2020/06/04/t0pSPg.png");
    }
    li.SPA {
      background-image: url("https://s1.ax1x.com/2020/06/04/t0ppGQ.png");
    }
    li.jiehun {
      background-image: url("https://s1.ax1x.com/2020/06/04/t0p92j.png");
    }
    li.xuexipeixun {
      background-image: url("https://s1.ax1x.com/2020/06/04/t0Sva8.png");
    }
    li.xican {
      background-image: url("https://s1.ax1x.com/2020/06/04/t0SxIS.png");
    }
    li.huochejipiao {
      background-image: url("https://s1.ax1x.com/2020/06/04/t0SYgs.png");
    }
    li.shaokao {
      background-image: url("https://s1.ax1x.com/2020/06/04/t0SJ3j.png");
    }
    li.jiazhuang {
      background-image: url("https://s1.ax1x.com/2020/06/04/t0S1US.png");
    }
    li.chongwu {
      background-image: url("https://s1.ax1x.com/2020/06/04/t0SGCQ.png");
    }
    li.quanbufenlei {
      background-image: url("https://s1.ax1x.com/2020/06/04/t0S34g.png");
    }
  }

  .index-container {
    margin-top: 10px;

    ul {
      width: 100%;
      height: auto;
      text-align: center;
    }
    li {
      list-style: none;
      display: inline-block;
      height: 8px;
      width: 8px;
      border-radius: 4px;
      background-color: #ccc;
      margin: 0 3px;
    }
    li.selected {
      background-color: rgb(233, 32, 61);
    }
  }
}